.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #F5F5F5;
    transform: none;
    padding: 20px 10px;
    box-sizing: border-box;
}

.logo {
    width: 160px;
    margin: 10px auto 40px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.progress {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.meetings {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}